<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="">$$BMW$$</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li ><a href="{{ app.request.uriForPath('/') }}">Dashboard</a></li>
      <li ><a href="{{ path('login')}}">Login</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filmy <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ app.request.uriForPath('/movies/action') }}">Akcji</a></li>
          <li><a href="{{ app.request.uriForPath('/movies/comedy') }}">Komedia</a></li>
          <li><a href="{{ app.request.uriForPath('/movies/horror') }}">Horror</a></li>
          <li><a href="{{ app.request.uriForPath('/movies/scifiction') }}">Fantasy</a></li>
          <li><a href="{{ app.request.uriForPath('/movies/all') }}">Wszystkie</a></li>
 
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zamówienia<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ app.request.uriForPath('/cart') }}">Koszyk</a></li>
          <li><a href="{{ app.request.uriForPath('/history') }}">Hitoria</a></li>
          <li><a href="{{ app.request.uriForPath('/payment') }}">Płatności</a></li>
 
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right">
		
  </div>
  </form>
</div>

